py-cpuinfo
unzip
datasets
sentencepiece
diffusers
mpi4py
protobuf==3.20.3
lm_eval==0.4.2
huggingface-hub==0.26.0
py-cpuinfo
bitsandbytes
transformers_stream_generator
einops
hjson
msgpack
git+https://github.com/bitsandbytes-foundation/bitsandbytes.git@multi-backend-refactor
transformers==v4.49.0
tf-keras
accelerate==1.1.1
peft==0.14.0
